body {
    background-color: black;
}
main { 
    text-align: center;
}
h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
.download-excursion [href] {
    color: aquamarine;
    font-size: 16px;
}
.excursion-remembers {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
footer p {
    text-align: right;
    color: gray;
}